<h1> Request List </h1>

<%-@request_list.each do |req|%>
  <%=req.user.name%>
  <%=req.user.address%>
  <%=req.amount%>
  <%=req.dstatus%>
  <%=time_ago_in_words req.request_at%>


<%end%>  

<div id='form', class='hide'>
  <%= form_tag '/' do%>
    <%= label_tag 'request', 'How much you want to request:'%>
    <%= text_field_tag 'amount' %>
    <%= submit_tag%>
  <%end%>
  

</div>

<%=link_to 'add more request', '#', id: 'show_form'%>

<script>
  $(document).ready(function(){
    $('#show_form').click(function(){
      console.log('hello');
      $('#show_form').hide();
      return false;
    });
  })

</script>
