  <header class="normal-cover"
    <nav>
          

            <ul class="unstyled white navbar-header left">
                <li class="logo"><a href="#" class="uppercase size-xl">Relief Insight</a></li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "right uppercase login" %>
                <li class="right uppercase login">Account Settings</li>
                <li class="right uppercase login">Dashboard</li>
            </ul>

        </nav>
  </header>

<div class="container">
<p>You are currently viewing all requests in the marketplace.   </p>




<button class="red-button uppercase size-medium new-request"><%=link_to 'Make a new request', '#', id: 'show_form'%></button>
<div id='form', class='hide'>
  <form id='add_request' method="post" onsubmit="return false;">
    <label for="amount">
      <span class="size-large">What do you want to request?</span>
    </label>
    <input type="text" name="amount" id="amount" />
    <button class="red-button uppercase size-medium" type="submit" id="submit_request">Submit</button>
  </form>
</div>

<%-@request_list.each do |req|%>
  <div class="item">
  <h2><%=req.user.name%> (<%=req.user.address%>)</h2>
  <span class="left right-1">
    <img src=<%=req.user.avatar_url%> width="100"/>
  </span>

  <h2>Sardines (<%=req.amount%>) cans</h2>
   <div>
  <%=req.dstatus%>

  <%=time_ago_in_words req.request_at%> ago
  </div>
</div><!--item-->

<div class="clear"></div>

<%end%>

</div>

<script>
  $(document).ready(function(){
    $('#show_form').click(function(){
      $('.new-request').hide();
      $('#form').fadeIn(200);
      return false;
    });

    $('#submit_request').click(function(){
      var amount = $("#amount").val();
      $.ajax({
        url: "http://<%= request.raw_host_with_port %>/add_request",
        type: "POST",
        data: "amount="+amount,
        success: function (res) {
          console.log(res);
          $("div.container").append("<div class='item'><h2>"+ res.title +"</h2><span class='left right-1'><img src='"+res.avatar+"' width='100'></span><h2>"+res.amount+"</h2><div>less than a minute ago</div></div><div class='clear'></div>");
          $("#amount").val("");
        }
      });
    });
  })
</script>
