<!DOCTYPE html>
<html>
<head>
  <title>Relief Insight Marketplace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <p class="notice hide"><%= notice %></p>
  <p class="alert hide"><%= alert %></p>

<%= yield %>

<footer>
	<hr />
    <p class="align-center">&copy; Team Relief Insight - Built for Hack Upon A Cause 2014</p>
               
</footer>

</body>
</html>
